<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
    <title>About me - <%= $site.siteName %></title>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <div>
          <a href="/" class="header-title"><%= $site.siteName %></a>
          <div class="header-subtitle"><%= $page.subtitle %></div>
        </div>
        <nav class="header-nav">
          <% for (const menuItem of $page.menu) {%>
          <a href="<%= menuItem.link %>"><%= menuItem.label %></a>
          <% } %>
        </nav>
      </div>
    </header>
    <div class="main">
      <div class="about"><%- $page.content %></div>
    </div>
  </body>
</html>
