<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
    <title>Archives - <%= $site.siteName %></title>
  </head>
  <body>
    <div class="main">
      <nav class="navigation">
        <a href="/"><%= $site.siteName %></a>
      </nav>
      <div class="blogs-list-block">
        <% const groupedArticles = _.groupBy($site.articles, ({createdAt}) =>
        moment(createdAt).format('YYYY-MM')); 
        const groups = Object.keys(groupedArticles).sort().reverse(); 
        for (const group of groups) { 
          const [year, month] = group.split('-');
        %>
        <div class="timeline-block">
          <time class="timeline-headline"><%= year %>年<%= month %>月</time>
          <ol class="timeline-list">
            <% for (const article of groupedArticles[group]) { %>
            <li class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <time datetime="<%= article.createdAt %>" class="timeline-date">
                  <%= moment(article.createdAt).format('MM-DD HH:mm') %>
                </time>
                <a class="timeline-title" href="/<%= article.fullUrl %>">
                  <%= article.title %>
                </a>
                <% if (article.tags && article.tags.length > 0) { %>
                  <div class="timeline-keywords">
                    <% article.tags.forEach(tag => { %>
                      <span class="keyword"><%= tag %></span>
                    <% }) %>
                  </div>
                <% } %>
              </div>
            </li>
            <% } %>
          </ol>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
