<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head') %>
    <title><%= $article.title %> - <%= $site.siteName %></title>
    <meta name="keywords" content="<%= $article.tags.join(',') %>">
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <div>
          <a href="/" class="header-title"><%= $site.siteName %></a>
          <div class="header-subtitle"><%= $page.subtitle %></div>
        </div>
        <nav class="header-nav">
          <% for (const menuItem of $page.menu) {%>
          <a href="<%= menuItem.link %>"><%= menuItem.label %></a>
          <% } %>
        </nav>
      </div>
    </header>
    <div class="main">
      <article>
        <header>
          <h1 class="article-title"><%= $article.title %></h1>
          <div class="article-info">
            <div>
              <span
                >Created At：<time datetime="<%- $article.createdAt %>"
                  ><%= moment($article.createdAt).format($site.dateFormat) %></time
                ></span
              >
              <span
                >Updated At：<time datetime="<%- $article.updatedAt %>"
                  ><%= moment($article.updatedAt).format($site.dateFormat) %></time
                ></span
              >
            </div>
            <% if ($article.tags.length > 0) {%>
            <div>
              Keywords: 
              <% for (const tag of $article.tags) {%>
              <span class="keyword"><%= tag %></span>
              <% } %>
            </div>
            <% } %>
          </div>
        </header>
        <div class="article-content markdown-body"><%- $article.htmlContent %></div>
      </article>
    </div>
  </body>
</html>
